<div ng-controller="BookmarksController" ng-init="init()">
    <div class="ui menu">
        <div class="ui container">
            <a href="/" class="header item left">
                Post Beyond Code Challenge
            </a>
            <div class="ui dropdown icon simple item right">
                <i class="plus icon"></i>
                <div class="menu">
                    <div class="header">
                        Save an item
                    </div>
                    <div class="ui input">
                        <input class="bookmark__input" type="text" name="url" placeholder="http://..." ng-model="bookmark.url">
                        <button class="ui primary button" ng-click="addBookmark()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        <div class="bookmarks__header">My Articles</div>
        <ul class="bookmarks ui stackable grid">
            <li class="bookmark eight wide mobile eight wide tablet five wide computer column" ng-repeat="bookmark in bookmarks track by $index">
                <a class="ui fluid card" ng-href="/article/{{bookmark.article.id}}">
                    <div class="content">
                        <div class="header">{{bookmark.article.title}}</div>
                    </div>
                    <div class="image" ng-if="bookmark.article.lead_image_url">
                        <img src={{bookmark.article.lead_image_url}}>
                    </div>
                    <div class="content article__excerpt" ng-if="!bookmark.article.lead_image_url">
                        <div ng-bind-html="bookmark.article.excerpt"></div>
                    </div>
                    <div class="extra content">
                        <div class="left floated author">
                            {{bookmark.article.domain}}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="bookmarks--no-result" ng-if="bookmarks.length == 0">
            <div>There are currently no articles saved.</div>
            <div>Hover over the plus button to add one now!</div>
        </div>
    </div>
</div>
