<div class="ui menu">
  <div class="ui container">
      <a href="/" class="header item">
        Post Beyond Code Challenge
      </a>
  </div>
</div>

<div class="ui container" ng-controller="ArticleController" ng-init="init()">
  <div class="article-wrapper">
    <div class="article__info">
      <div class="article__title">{{article.title}}</div>

      <div class="article__author">{{article.author}}</div>
      <div class="article__date">{{article.date_published | date:'medium'}}</div>
    </div>

    <div class="article__content" ng-bind-html="articleContent"></div>
    <!-- <ul class="bookmarks ui stackable grid">
      <li class="bookmark eight wide mobile eight wide tablet five wide computer column" ng-repeat="bookmark in bookmarks track by $index">
        <a class="ui fluid card" ng-href="/article/{{bookmark.article.id}}">
          <div class="content">
            <div class="header">{{bookmark.article.title}}</div>
          </div>
          <div class="image" ng-if="bookmark.article.lead_image_url">
            <img src={{bookmark.article.lead_image_url}}>
          </div>
          <div class="content article__excerpt" ng-if="!bookmark.article.lead_image_url">
            <div>
              {{bookmark.article.excerpt}}
            </div>
          </div>
          <div class="extra content">
            <div class="left floated author">
              {{bookmark.article.domain}}
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="bookmarks--no-result" ng-if="bookmarks.length == 0">
        <strong>No results found...</strong>
    </div> -->
  </div>
</div>
